In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cross_validation import cross_val_score
from sklearn.metrics import precision_score
from sklearn.linear_model import LogisticRegression

import xgboost
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from catboost import CatBoostClassifier
from imblearn.over_sampling import SMOTE

In [85]:
train = pd.read_csv('./criminal_train.csv')
test = pd.read_csv('./criminal_test.csv')

In [86]:
drop_list = ['PERID']
train = train.drop(drop_list , axis=1)
test = test.drop(drop_list , axis=1)
y_train = train['Criminal']
train = train.drop( ['Criminal'] , axis=1)

In [87]:
sm= SMOTE(random_state=42)
X_new , Y_new = sm.fit_sample(train , y_train )

In [88]:
clf = CatBoostClassifier(learning_rate= 0.1 , iterations=1500)

In [89]:
columns = train.columns
cat_features = list(columns[columns.values != 'ANALWT_C'])

In [96]:
(X_new[0][67])

3884.8059979999998

In [98]:
cat_features = range(0,67) + [68 , 69]

In [99]:
clf.fit(X_new , Y_new , cat_features= cat_features)

CatboostError: Invalid type for cat_feature[45718,0]=1.52057393731 : cat_features must be integer or string, real number values and NaN values should be converted to string.

In [61]:
y_pred = clf.predict(X_new)

In [62]:
precision_score(y_pred , Y_new)

0.98032578802623227

In [63]:
y = clf.predict(test)

In [64]:
y = y.astype(int)
np.bincount(y)

array([4653, 6777])

In [58]:
test = pd.read_csv('./criminal_test.csv')
test['Criminal'] = y
test[['PERID' , 'Criminal']].to_csv('./catboost.csv' , index= False)

In [18]:
test.head()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
0,66583679,4,0,4,1,2,1,1,1,99,...,2,2,1,1,2,2,16346.795400,40020,1,0.0
1,35494679,4,0,4,1,1,1,1,1,99,...,2,2,1,1,2,2,3008.863906,40044,2,0.0
2,79424679,2,0,3,1,2,1,1,1,99,...,2,2,2,2,2,2,266.952503,40040,2,0.0
3,11744679,4,0,6,1,2,1,1,1,99,...,2,2,1,1,2,2,5386.928199,40017,1,0.0
4,31554679,1,0,4,1,3,1,1,1,99,...,2,1,1,1,2,2,173.489895,40017,1,0.0

In [46]:
sub = pd.read_csv('./result.csv')

In [47]:
sub.Criminal.value_counts()

0.0    10684
1.0      746
Name: Criminal, dtype: int64